{% extends "blog2/base.html" %}

{% load crispy_forms_tags %}

{% block auth%}
{% endblock %}

{% block sctn1 %}
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4 "> Login </legend>
        {{ form | crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit"> Login </button>
        <small class="text-muted ml-2">
            <a href="{% url 'password_reset' %}"> Forgot Password </a>
        </small>
    </div>
</form>
<div class="container">
    <small class="text-muted">
        Need an account?
        <a class="btn" href="{% url 'register' %}"> Sign Up Now </a>
    </small>
</div>

{% endblock %}