{% extends "blog2/base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block auth %}
{% endblock auth %}

{% block sctn1 %}
<div class="container" style="height:10vh;">
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="container" style="max-width:70vw;margin-top:5vh;">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 "> Login </legend>
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn" type="submit"> Login </button>
            <small class="text-muted ml-2">
                <a class="btn" href="{% url 'password_reset' %}"> Forgot Password </a>
            </small>
        </div>
    </form>
    <div class="container">
        <small class="text-muted">
            Need an account?
            <a class="btn" href="{% url 'register' %}"> Sign Up Now </a>
        </small>
    </div>
</div>

{% endblock %}