{% extends "blog2/base.html" %}
{% load crispy_forms_tags %}
{% block sctn1 %}
<ul class="collection">
    <img src="{{ user.profile.image.url }}" alt="" class="circle">
    <li class="collection-item avatar">
        <div class="media-body p-2">
            <h2 class="account-heading">{{ user.username | capfirst }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </li>
</ul>

<form method="POST" enctype="multipart/form-data" style="margin:auto;max-width: 80vw;">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4"> Profile Info</legend>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit"> Update </button>
    </div>
</form>
{% endblock %}