@mixin imgs($image) {
  width: 20rem;
  height: 20rem;
  background-image: url($image);
  background-position: center center;
  background-size: cover;
  padding: auto;
  margin: auto;
  display: inline-flex;
}

.sctn3 {
  text-align: center;
  box-sizing: border-box;
  overflow: auto;

  .imgs-1 {
    @include imgs("/static/blog/img/sosa_image_5.jpg");
  }

  .imgs-2 {
    @include imgs("/static/blog/img/sosa_image_4.jpg");
  }

  .imgs-3 {
    @include imgs("/static/blog/img/sosa_image_7.jpg");
  }
}
