@import "./hero", "./sctn1", "./sctn2", "./sctn3", "./sctn5", "./topnav", "./mixins";


/* Layout for the Page  */
.container {
  max-height: auto;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 30vh;
  grid-template-areas:
    "topnav topnav topnav "
    "hero hero hero"
    "sctn1 sctn1 sctn1""sctn2 sctn2 sctn2"
    "sctn3 sctn3 sctn3"
    "sctn4 sctn4 sctn4"
    "sctn5 sctn5 sctn5";
}

/* Hero Image */
.hero-image {
  height: 70vh;
  width: 100vw;
  grid-area: hero;
  display: block;
}

.sctn1 {
  grid-area: sctn1;
  display: none;
  height: 10vh;
  margin: auto;
}

.sctn2 {
  grid-area: sctn2;
  display: none;
  height: 10vh;
  margin: auto;
}

.sctn3 {
  grid-area: sctn3;
  display: none;
  z-index: 0;
  margin: auto;
}

.sctn4 {
  grid-area: sctn4;
  height: auto;
  display: none;
}

.sctn5 {
  grid-area: sctn5;
  display: none;
  height: auto;
}