html,
body {
  margin: 0px;
}

/* Layout for the Page  */
.container {
  max-height: 1200px;
  margin: 0;
  display: grid;
  grid-column: auto auto;
  grid-template-areas:
    "topnav"
    "hero"
    "sctn1"
    "sctn2"
    "sctn3"
    "sctn4"
    "sctn5";
}

/* Nav bar top, links , logo and spacing */
.topnav {
  padding: 0.5em;
  grid-area: topnav;
  background-color: dimgray;
  display: flex;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

.topnav .logo {
  padding: auto;
}

.topnavspace {
  margin: auto;
}

.topnav .navlinks a {
  display: inline;
  color: blue;
  text-align: center;
  text-decoration: none;
  padding: 1em 2em;
  font-size: 16px;
}

.topnav a:hover {
  background-color: lightgrey;
  color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* Hero Image */
.hero-image {
  height: 600px;
  grid-area: hero;
}

.sctn1 {
  grid-area: sctn1;
  background-color: white;
  height: 100px;
}
.sctn2 {
  grid-area: sctn2;
  background-color: red;
  height: 100px;
}
.sctn3 {
  grid-area: sctn3;
  background-color: white;
  height: 100px;
}
.sctn4 {
  grid-area: sctn4;
  background-color: yellow;
  height: 100px;
}
.sctn5 {
  grid-area: sctn5;
  background-color: orange;
  height: 100px;
}
