 @import "./mixins";

 $sct1color:#f7f5ec;

 .sctn1 {
   .flex-container {
     background-color: #f7f5ec;
     padding: 44px 0px;
     margin: 1rem;
     @include border-shadow($sct1color);

     p {
       display: flex;
       align-items: center;
       justify-content: space-around;
       line-height: 1.5;
     }
   }

   .col {
     @include border-shadow($sct1color);
   }

 }