@import "./mixins";

/* Nav bar top, links , logo and spacing */
.topnav {
    padding: 2em;
    grid-area: topnav;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    z-index: 1;

    .logo {
        padding: auto;
        font-size: inherit;
        transition: font-size 0.5s;
        text-decoration: none;

        &:hover {
            font-size: 170%;
        }
    }

    a:visited,
    a:link {
        color: black;
    }

    .topnavspace {
        margin: auto;
    }

    .navlinks a {
        display: inline;
        color: rgb(145, 60, 60);
        text-align: center;
        text-decoration: none;
        padding: 1em 2em;
        margin: 0.5em;
        font-size: 16px;
        transition-duration: 0.5s;

        &:hover {
            background-color: rgb(119, 119, 132);
            color: rgb(0, 0, 0);
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 60px;
}