@import "./hero", "./sctn1", "./sctn2", "./sctn3", "./sctn5", "./topnav", "./mixins";

/* Layout for the Page  */
.container {
  max-height: auto;
  margin: 0;
  display: grid;
  grid-auto-flow: row;
}

/* Hero Image */
.hero-image {
  height: 70vh;
  width: 100vw;
  grid-area: hero;
  display: block;
}

.sctn1 {
  grid-area: sctn1;
  display: block;
  height: 10vh;
  margin: auto;
}

.sctn2 {
  grid-area: sctn2;
  display: block;
  height: 10vh;
  margin: auto;
}

.sctn3 {
  grid-area: sctn3;
  display: block;
  height: 5vh;
  z-index: 0;
  margin: auto;
}

.sctn4 {
  grid-area: sctn4;
  height: block;
  height: auto;
  display: none;
}

.sctn5 {
  grid-area: sctn5;
  display: block;
  height: auto;
}
