@mixin border-shadow() {
    padding: 2rem;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #806580;
}


@mixin flex-container() {
    display: flex;
    padding: auto;
    margin: auto;
    border-radius: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

// section should be display flex

@mixin flex-item() {
    padding: 10px;
    margin: 10px;
    border: 4px solid black;
    border-radius: 25px;
    background: rgba(255, 0, 0, 0);
    width: auto;
    flex: 2;
    max-width: 400px;

}