.parallax {
  /* The image used */
  background-image: url("/static/blog/img/sosa_logo_image.png");
  /* Set a specific height */
  height: 30rem;

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat; //   background-size: cover;
}

@media only screen and (max-device-width: 1200px) {
  .parallax {
    background-attachment: scroll;
  }
}