/* nav bar css start */
@import "./mixins";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


$colour:grey;
$primarycolour: rgb(0, 0, 0);
$btn1color: rgba(95, 94, 104, 0.16);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}



h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;

}

h3 {
  font-size: 1rem;
}

hr {
  margin: 1rem;
}

body,
html {
  height: 100%;
  font-family: "Open Sans";
  font-size: 1em;
}

.btn-div {
  display: inline-flex;

  .btn {
    margin: 2px 2em;
    border: 2px solid $btn1color;
    background-color: rgba(255, 226, 226, 0.53);
    color: white;
    padding: 14px 22px;
    display: inline;
    font-size: 16px;
    display: inline;
    cursor: pointer;
    transition: font-size 0.7s;
    border-radius: 3px;
    transition-duration: 0.4s;

    &:hover {
      border: inherit;
      background-color: rgba(22, 38, 41, 0.167);
      color: rgb(255, 255, 255);
      font-size: 1em;
    }
  }
}

.hero-image {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/blog/img/colour_splash3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;

  .hero-text {
    width: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}

.thumbnail-container {
  padding: auto 0;
  max-width: 300px;

  justify-content: center;
  display: flexbox;

  .thumbnail {
    border-radius: 20px;
    margin: auto 0;
    width: 100px;
    overflow: auto;
  }

}

.profile {
  padding: 20px auto;
  align-content: center;
  text-align: center;
}

.flex-container {
  @include flex-container();
  @include border-shadow();
}