{% extends 'blog2/base.html' %}

{% block sctn1 %}
<div class="container">
    <div class="row">
        <div class="col s12 offset-m3 m6 offset-l2 l8 center" style="line-height:2rem;;">
            <p> Bournemouth universities newly established South Asian society, inclusive to all students regardless of
                background to build a community that celebrates the vast cultures of South Asia. Our aim is to hold
                events that will build understanding of these cultures, whether it be about fashion, beauty, food, film,
                events or more. We have exciting blogs to highlight topics such as mental health, celebrities, fashion,
                news and recipes. Our core values are to educate, to celebrate, to create and to participate in every
                event. We hope to help students feel like they're apart of a community filled with like-minded
                individuals who share the same interests and are eager to learn something new. We aim to reshape the
                identity of South Asian societies here at BU. Whether your looking to meet new people, seeking to be
                more involved in our events and activities or simply wish to explore new and diverse cultures within
                South Asia. </p>
        </div>
    </div>
</div>
{% endblock %}