{% extends 'blog2/base.html' %}

{% block sctn1 %}


<!-- <div class="container">
    <div class="row" style="align-content: center;">
        {% for event in events %}
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="/static/blog/img/{{ event.img }}">
                    <span class="card-title"> {{ event.title }}</span>
                </div>
                <div class="card-content">
                    <p> {{ event.desc }} </p>
                </div>
                <div class="card-action">
                    <a href="{% url 'blog:event_detail' event.id %}">checkout the full event details </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div> -->

{% endblock sctn1 %}