{% extends 'blog2/base.html' %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% block title %} <title>Album</title> {% endblock title%}

{% block navigation %}

{{block.super}}

{% endblock navigation %}

{% block head %}
<style>
    .row-img {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }

    .column img {
        margin: 8px auto;
        vertical-align: middle;
        width: 100%
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
        .column {
            flex: 50%;
            max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            flex: 100%;
            max-width: 100%;
        }
    }
</style>
{% endblock head %}

{% block sctn1 %}
<div class="row-img">
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-13b4ab44-73ea-4e08-b6bf-c704e840cf9e"></div>
</div>
{% endblock sctn1 %}
<!-- {% for img in img_list %}
    <div class="column">
        <img src="/static/{{STATIC_PREFIX}}/blog/img/{{img}}">
    </div>
    {% endfor %} -->