{% extends "blog2/base.html" %}
{% load static %}

{% block navigation %}
{{block.super}}
{% endblock navigation %}

{% block sctn1 %}
<section class="sctn1" id="SOSA">
    <div class="container_parallax">
        <div class="parallax"></div>
    </div>
    <article class="row">
        {% for post in posts %}
        {% if post.img.url %}
        <div class="col s12 offset-m2 m8 l4">
            <div class="card hoverable" style="min-height:365px;">
                <div class="card-image" style="overflow:hidden;">
                    <img alt="" style="height: 200px; background-image:linear-gradient(
                                                                rgba(0, 0, 0, 0.5),
                                                                rgba(0, 0, 0, 0.5)), 
                                                                url('{{ post.img.url }}');
                                                                background-size:cover;">
                    <div class="card-title"> {{ post.title }} </div>
                </div>
                <div class="card-content">
                    <p> {{ post.content | truncatewords:13 }} </p>
                </div>
                <div class="card-action">
                    <a href=" {% url 'blog:post_detail' post.id %}"> Continue
                        reading </a>
                </div>
            </div>
        </div>
        {% endif%}
        {% endfor %}
    </article>
</section>
{% endblock sctn1%}
{% block sctn2 %}
<section class="sctn2">
    <article class="row">
        <div class="container" style="max-width:95vw;">
            <h2 class=" SectionHeading" style="text-align: center;">
                Get involved with our Upcoming events
            </h2>
            {% for event in events %}
            <div class="col s12 offset-m2 m8 l4">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ event.img.url }}" style="max-width:30vw;">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-6"> {{ event.title }}<i
                                class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ event.title }}<i
                                class="material-icons right">close</i></span>
                        <p class="flow-text">
                            {{ event.desc}}
                        </p>
                        <a class="btn" style="margin-top:50%;" href="{% url 'blog:event_detail' event.id %}"> Click here
                            to
                            learn more about
                            it
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </article>
</section>

{% endblock sctn2 %}
{% block sctn3 %}
<br>
{% endblock sctn3 %}
{% block sctn4 %}
<style>
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 10px;
        background-color: #fff;
        color: #444;
    }

    .box {
        background-color: #f3dab1;
        color: rgb(19, 16, 16);
        border-radius: 5px;
        border-color: #444;
        padding: 20px;
        font-size: 150%;
        margin-bottom: 1rem;
    }
</style>

<section class="sctn4">
    <div class="container" style="max-width: 90vw;">
        <div class="wrapper">
            {% for member in staff %}
            <div class="box"><i class="fas fa-user-tie"></i>
                <img src="{{ member.profile.image.url }}" alt="" class="circle" style="height:100px;max-width:100px;">
                <h5><a href="{% url 'blog:staff_profile' member.id %}" class="waves-effect waves-light btn-small">
                        {{member}}
                    </a>
                    {% if not member.profile.role.blank %}
                    {{member.profile.role | truncatewords:20}}
                    {% endif %}
                </h5>
            </div>
            {% endfor staff %}
        </div>
    </div>
</section>
{% endblock sctn4 %}