{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/styles/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/styles/styles.css' %}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> Homepage </title>

</head>

<body>
    <div class="container">
        <div class="topnav" id="navbar">
            <a href="#SOSA" style="text-decoration: none">
                <div class="logo">
                    SOSA
                </div>
            </a>
            <div class="topnavspace"> </div>
            <div class="navlinks">
                <a href=""> Home </a>
                <a href=""> Blog </a>
                <a href=""> Gallery </a>
                <a href=""> Events </a>
                <a href=""> About </a>
                <a href=""> Contact us </a>
            </div>
        </div>

        <div class="hero-image">
            <div class="hero-text">
                <h1 style="margin-right: 40%;"> Welcome to the SOSA </h1>
                <h2 style="">
                    The Heart of diveristy
                </h2>
                <h1 style="margin-left: 40%;"> We Live Laugh & Love </h1>
                <div class="btn-div">
                    <div class="btn"> Join us </div>
                    <div class="btn"> Learn more </div>
                </div>
            </div>
        </div>

        <section class="sctn1" id="SOSA">
            <div class="SectionHeading">
                <h2> About us </h2>
                <p> We are the Bournmouths Universities <br> Society of South Asia </p>
                <p> Learn About what we are trying to achieve and what we have acheived below </p>
            </div>

            <div class="flex-container">
                {% for post in posts %}
                <div class="col">
                    <img src="" alt="">
                    <h3> {{ post.title }} </h3>
                    <p> {{ post.content | truncatewords:12 }} </p>
                    <a href="{% url 'blog:post_detail' post.id %}"> Continue reading</a>
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="sctn2">
            <div>
                <h3 class="SectionHeading">
                    Get involved with our
                    <br>
                    <br>
                    Upcoming Events
                </h3>
            </div>
            <div class="flex-container">
                {% for event in events %}
                <div class="col">
                    <h3>{{ event.title }} taking place on the {{ event.event_date }} & @
                        {{ event.event_time }} </h3>
                    <p> {{ event.desc }} </p>
                </div>
                {% endfor %}
            </div>
        </section>

        <section class="sctn3">
            <h1> Come to any of these upcoming events </h1>
            <div>
                <a href="">
                    <div class="imgs-1"></div>
                </a>

                <a href="">
                    <div class="imgs-2"></div>
                </a>
                <a href="">
                    <div class="imgs-3"></div>
                </a>

            </div>
            <div>
                <h1 id="past-events"> or check out some of our past ones</h1>
                <a href="">
                    <div class="imgs-4"></div>
                </a>

                <a href="">
                    <div class="imgs-5"></div>
                </a>
                <a href="">
                    <div class="imgs-6"></div>
                </a>
            </div>

        </section>

        <section class="sctn4">
            <div class="shout_out">
                <h2> Created by Pedro Dias </h2>
            </div>
        </section>

        <section class="sctn5">
            <h2>Style Social Media Buttons</h2>
            <a href="#" class="fa fa-youtube" id="youtube"></a>
            <a href="#" class="fa fa-twitter" id="twitter"></a>
            <a href="#" class="fa fa-instagram" id="insta"></a>
            <a href="#" class="fa fa-snapchat-ghost" id="snapchat"></a>
            <a href="#" class="fa fa-facebook" id="facebook"></a>
            <p> Get into contact with us from the links about or the contact information below </p>
        </section>
    </div>
</body>


</html>