{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'blog/css/layout.css' %}">
    <title> Login page </title>
</head>


<body>
    <section class="header">
        <svg class="{% static 'blog/img/sas.png' %}"></svg>
        <h1>SHRINE</h1>
    </section>
    <img src="{% static 'blog/img/sas.png'%}" alt="sas.png">
    <form action="home.html">

    </form>
</body>

</html>