{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <head>
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
            rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    </head>
    <title>Material design gallery</title>
</head>

<body>
    <div>
        <ul class="mdc-image-list mdc-image-list--masonry my-masonry-image-list">
            <li class="mdc-image-list__item">
                <img class="mdc-image-list__image" src="{% url 'blog/img/sosa_image_4.jpg'%}">
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Text label</span>
                </div>
            </li>
            <li class="mdc-image-list__item">
                <img class="mdc-image-list__image" src="{% static 'blog/img/sosa_image_5.jpg'%}">
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Text label</span>
                </div>
            </li>
            <li class="mdc-image-list__item">
                <img class="mdc-image-list__image" src="{% static 'blog/img/sosa_image_6.jpg'%}">
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Text label</span>
                </div>
            </li>
            <li class="mdc-image-list__item">
                <img class="mdc-image-list__image" src="{% static 'blog/img/sosa_image_7.jpg'%}">
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Text label</span>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>