{% extends "blog2/base.html" %}

{% load crispy_forms_tags %}

{% block sctn1 %}

<div class="row" style="margin-top:10vh;">
    <form class="col s12" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                {{ form | crispy }}
            </div>
            <button class="btn" type="submit"> Post </button>
        </div>
    </form>
</div>

{% endblock %}


<div class="container" style="max-width:60vw;">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 "> Blog Post</legend>
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">

        </div>
    </form>
</div>