{% extends "blog2/base.html" %}
{% block links%} {{ block.super }} {% endblock %}
{% block title %} <title> {{post.author}} -- {{ post.title | truncatewords:4 }} </title> {% endblock %}

{% block sctn1 %}


<!-- <span class="thumbnail-container">
        <img class="thumbnail" src="{{ post.author.profile.image.url }}" alt="">
    </span> -->
<section class="sctn1">
    <div class="flex-container">
        <h3> {{post.title | title }} by {{ post.author }} </h3>
        <div class="flex-container">
            <p>{{ post.content }} <br> {{ post.date_posted |date:"d/M/y, H:i" }} </p>
        </div>
    </div>
    {% if object.author == user %}
    <div class="flex-container" style="height: 30px;">

        <div class="btn">
            <a href="{% url 'blog:post_update' object.id %}"> Update</a>
        </div>
        <div class="btn">
            <a href="{% url 'blog:post_delete' object.id %}"> Delete </a>
        </div>

    </div>
    {% endif%}
</section>
{% endblock %}