{% extends "blog2/base.html" %}
{% block links%} {{ block.super }} {% endblock %}
{% block title %} <title> {{post.author}} -- {{ post.title | truncatewords:4 }} </title> {% endblock %}

{% block sctn1 %}
<!-- <span class="thumbnail-container">
        <img class="thumbnail" src="{{ post.author.profile.image.url }}" alt="">
    </span> -->
<section class="sctn1">
    <div class="container">
        <div class="row">
            <div class="col s12 m8">
                <div class="card-panel">
                    <h3> {{post.title | title }} by {{ post.author }} </h3>
                    <div class="container">
                        <p>{{ post.content }}
                            <br>
                            {{ post.date_posted |date:"d/M/y, H:i" }}
                        </p>
                    </div>
                    <div class="container" style="height: 30px;">
                        {% if object.author == user %}
                        <a class="btn" href="{% url 'blog:post_update' object.id %}"> Update</a>
                        <a class="btn" href="{% url 'blog:post_delete' object.id %}"> Delete </a>
                        {% endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block sctn3 %}
<br>
{% endblock sctn3%}