{% load static %}
<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">


<head>
    {% block links %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/bulma/mystyles.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    {% block title %} <title> Homepage </title> {% endblock %}

    {% endblock links %}
</head>
{% block body %}

<body class="container">


    {% block nav%}

    <nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'blog:homepage' %}">
                <img class="image is-68x68" style="max-height:68px; " src="{% static 'blog/img/lotus.jpeg' %}">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>
                <a class="navbar-item">
                    Blogs
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Events
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Upcoming Events
                        </a>
                        <a class="navbar-item">
                            Past Events
                        </a>
                    </div>
                </div>
                <a class="navbar-item">
                    About
                </a>
                <a class="navbar-item">
                    Contact us
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons ">
                        {% if user.is_authenticated %}
                        <a class="button is-primary" href="{% url 'profile' %}">
                            <strong>
                                Profile
                            </strong>
                        </a>
                        {% else %}
                        <a class="button is-outlined" href="{% url 'register' %}">
                            <strong>
                                Sign up
                            </strong>
                        </a>
                        {% endif %}

                        {% if user.is_authenticated %}
                        <a class="button is-light" href="{% url 'logout' %}">
                            Log out
                        </a>

                        {% else %}
                        <a class="button is-outlined" href="{% url 'login' %}">
                            Login
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% endblock nav %}


    {% block sctn1 %}
    <!-- Hero Section,  -->
    <section class="hero bold">
        <div class="level">
            <div class="level-right">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Welcome SAS
                        </h1>
                        <h2 class="subtitle">
                            Home to the South Asian Soceity
                        </h2>
                        <h2 class="subtitle">
                            add more content that you would like people to when they first get to the site
                        </h2>
                    </div>
                </div>
            </div>
            <figure class="image is-128x128">
                <img src="{% static 'blog/img/lotus.jpeg' %}" alt="" class="is-rounded">
            </figure>
        </div>
    </section>
    <!-- ./End of hero section -->
    {% endblock sctn1 %}


    {% block sctn2 %}
    <!-- Upcoming Events  -->
    <!-- see the next upcoming event this should be a banner -->
    <section class="hero is-small is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">
                    Our next big upcoming event
                    {% for event in up_events %}
                    <strong> {{event.title | upper }} </strong>
                    <figure class="image is-2by1 ">
                        <img src="{{ event.img.url }}">
                    </figure>

                </h1>
                <h2 class="subtitle is-3 is-spaced ">
                    {{event.desc}}
                </h2>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="section">
        <div class="columns">
            {% for event in past_events %}
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image ">
                            <img src="{{ event.img.url }}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <!-- this should be an image of the person who created the event  -->
                                    <img class="is-rounded" src="{{ event.img.url }}" alt="">
                                </figure>
                            </div>
                            <div class="media-content">
                                <strong> {{event.title}} </strong>
                            </div>
                        </div>
                        <div class="content">
                            {{event.desc}}
                            </a>
                            <a href="{% url 'blog:event_detail' event.id %}"> More info </a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- see the last two past events this should be two columns -->
    </section>
    {% endblock sctn2 %}

    {% block sctn3 %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Check out our blog Posts Below
                </h1>
                <h2 class="subtitle">
                    from some of our members and their thoughts about the Soceity
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="tile is-ancestor">
            <div class="tile is-4  is-parent">
                <div class="tile is-child box">
                    {% for post in posts %}
                    {% if forloop.counter0 == 0 %}
                    <h1 class="title"> {{ post.title }}
                        <p class="subtitle"> {{ post.content }}</p>
                        <a href="{% url 'blog:post_detail' post.id%}" class="is-link"> Click me to read more !!! </a>
                    </h1>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="tile is-vertical is-parent">

                {% for post in posts %}
                {% if forloop.counter0 > 0 %}
                <div class="tile is-child box">
                    <p class="title">{{ post.title}} <a href="{% url 'blog:post_detail' post.id %}" class=" is-link">
                            read more </a> </p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    {% endblock sctn3 %}


    {% block footer %}
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>SAS</strong> by <a href="https://jgthms.com">Pedro Dias</a>.
            </p>
        </div>
        <div class="content has-text-centered">
            <p> Get into contact with us from the links about or the contact information below </p>
        </div>
        <div class="content has-text-centered">
            <span class="icon">
                <i class="fab fa-twitter"></i>
            </span>
            <span class="icon">
                <a href="https://www.instagram.com/societyofsouthasia/?igshid=1v0mg6ipjgsfg" target="_blank"><i
                        class="fab fa-instagram"></i></a>
            </span>
            <span class="icon">
                <i class="fab fa-snapchat-ghost"></i>
            </span>
            <span class="icon">
                <i class="fab fa-facebook-square"></i>
            </span>
        </div>
    </footer>
    {% endblock footer %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
</body>
{% endblock body%}

</html>