{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Navbar -->
    <nav class="navbar navbar-light bg-light ">
        <a class="navbar-brand justify-content-start" href="{% url 'blog:homepage' %}">
            <img src="{% static 'blog/img/sas.png' %}" alt="sas logo" class="rounded-circle" width="40" height="40">
            The SAS Project </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> </span>
        </button>

        <div class="container text-center">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <a class="nav-link text-darken-2" href="{% url 'blog:homepage' %}"> Home </a>
                <a class="nav-link text-darken-2" href="{% url 'blog:post_all'%}">Blog</a>
                <a class="nav-link text-darken-2" href="{% url 'blog:blog_about' %}">Mission</a>
                <a class="nav-link text-darken-2" href="{% url 'blog:blog_gallery' %}">Gallery</a>
                <a class="nav-link text-darken-2" href="#">Events</a>
                <a class="nav-link text-darken-2" href="#">Members</a>
            </div>
        </div>
    </nav>
    <!-- /. NavBar -->

</head>
<!-- Sub & Sign up  -->
<div class="container">
    <div class="row">
        <div class="col-4 mx-auto order-2">
            {% if user.is_authenticated %}
            <button href="{% url 'logout' %}" type="button" class="btn btn-flat btn-primary">Logout</button>
            {% else %}
            <button href="{% url 'login' %}" type="button" class="btn btn-flat btn-primary">Login</button>
            {% endif %}
        </div>

        <div class="col-4 mx-2 order-1">
            {% if user.is_authenticated %}
            <button href="{% url 'profile' %}" type="button" class="btn btn-flat btn-primary">Profile</button>
            <div>
                <a href="{% url 'blog:post_new' %}"> create a post </a>
            </div>
            {% else %}
            <a href="{% url 'register' %}">
                <button type="button" class="btn btn-flat btn-primary">
                    Register</button>
            </a>
            {% endif %}
        </div>
    </div>
</div>
<!-- /. Sub & Sign up -->

<!-- Main Body start -->

<body>

    <!-- Header Div -->
    <header class="blog-header text-muted">

        {% block content %} {% endblock content %}

    </header>
    <!-- /.Header Div -->

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <!-- Add a footer to the page -->
    <!-- collapsable blog posts -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    </div>
</body>
<!-- /. body -->

</html>