{% extends 'blog/base.html' %}

{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Album</title>
    {% block nav %}
    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">
            <img src="{% static 'blog/img/camera.png' %}" width=30 height="30" alt="Album icon">6Navbar
        </span>
    </nav>
    {% endblock%}
</head>

<body>
    {% block content %}
    <!-- As a heading -->
    <div class="header"> Gallery page </div>
    {% endblock %}
</body>

</html>